/* navbar */
.navbar {
  padding: 1rem 0;
}
.dark-header .navbar,
.transparent-header .navbar {
  background: rgba(0, 0, 0, 1);
  position: absolute;
  z-index: 999;
  width: 100%;
}
.transparent-header {
  @media(min-width: 992px) {
    .navbar {
      background: rgba(0, 0, 0, 0);
      position: absolute;
      z-index: 999;
      width: 100%;
    }
  }
}
.light-header .navbar {
  background: rgba(255, 255, 255, 1);
  position: absolute;
  z-index: 999;
  width: 100%;
}
.navbar-sticky {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
}
.navbar.navbar-sticky.sticky-active {
  position: fixed;
  background-color: #000;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  -webkit-animation: fadeInDown 0.5s ease-out forwards;
  animation: fadeInDown 0.5s ease-out forwards;
}
.navbar-brand img {
  display: block;
}
.light-header .navbar.navbar-sticky.sticky-active {
  background-color: #fff;
}
.navbar .navbar-nav .nav-link {
  color: #fff;
}
.light-header .navbar {
  &.sticky-active .navbar-nav .nav-link,
  .navbar-nav .nav-link {
    color: #000;
  }
}
.transparent-header .navbar.sticky-active .navbar-nav .nav-link {
  color: #fff;
}
.navbar-brand-dark {
  display: none;
}
.navbar .navbar-nav {
  .active > .nav-link {
    color: $brand-secondary;
    background: transparent;
  }
  .nav-link {
    &.active {
      color: $brand-nav;
      background: transparent;
    }
  }
}
.light-header .navbar.sticky-active .navbar-nav .nav-link.active,
.light-header .navbar.sticky-active .navbar-nav .nav-link:active,
.light-header .navbar.sticky-active .navbar-nav .nav-link:focus,
.light-header .navbar.sticky-active .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover,
.transparent-header .navbar.sticky-active .navbar-nav .nav-link.active,
.transparent-header .navbar.sticky-active .navbar-nav .nav-link:active,
.transparent-header .navbar.sticky-active .navbar-nav .nav-link:focus,
.transparent-header .navbar.sticky-active .navbar-nav .nav-link:hover {
  color: $brand-nav;
  background: transparent;
}
.navbar-toggler {
  &:focus,
  &:hover {
    text-decoration: none;
    outline: none;
  }
}
.navbar-toggler {
  width: 28px;
  height: 28px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $brand-nav;
    border-radius: 8px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    &:nth-child(1) {
      top: 3px;
      -webkit-transform-origin: left center;
      transform-origin: left center;
    }
    &:nth-child(2) {
      top: 11px;
      -webkit-transform-origin: left center;
      transform-origin: left center;
    }
    &:nth-child(3) {
      top: 19px;
      -webkit-transform-origin: left center;
      transform-origin: left center;
    }
  }
}
.navbar-toggler.open {
  span {
    &:nth-child(1) {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: -3px;
      left: 8px;
    }
    &:nth-child(2) {
      width: 0;
      opacity: 0;
    }
    &:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    top: 16px;
    left: 8px;
    }
  }
}
.navbar-nav .dropdown-menu {
    float: none;
    padding: 0;
    margin: 0;
    background-clip: padding-box;
    border: 0;
    border-radius: 0;
    background: #000;
    margin-left: 0;
}
.dropdown-item {
    padding: .5rem 1.5rem;    
    color: #fff;
    border: 0;
    display: block;
    font-family: Montserrat;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 100px;
}
.dropdown-item.active, .dropdown-item:active, .dropdown-item:hover, .dropdown-item:focus{
   color: $brand-nav;
  background: transparent; 
}
@media (max-width: 991px) {
  .navbar-expand-lg > {
    .container,
    .container-fluid {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}
.navbar-expand-lg.navbar .nav-link {
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}
.light-header .navbar {
  background-color: #fff;
}
.navbar .btn, .offcanvas .btn {
  position: relative;
  background: $brand-secondary;
  border-color: $brand-secondary;
  color: #fff;
  margin-left: 1rem;
}
.nav-link {
  display: block;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 100px;
}
/*offcanvas*/
.offcanvas{
    padding: 25px;
	hr {
    border-top: 2px solid #fff3;
}
.navbar-brand {
    margin-right: 0;

}
.nav-link
{
    color: #fff;
    &:active, &:hover, &:focus, &.active
        {
         color: $brand-nav;
    }
}
}