@media (max-width: 767px) {
  .navbar-expand-lg.navbar .nav-link {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar .btn {
    margin-left: 0;
  }
  .footer .copyright {
    line-height: 1.4;
    display: block;
    margin-bottom: 15px;
  }
}
